# ERROR xxx REDIRECT URL
ErrorDocument 404 /robotics_2022/layouts/404.php
# ErrorDocument 500 /robotics_2022/layouts/500.php
# Add '/CRHS_robotics-2020' for local hosting

# DEFAULT PAGE

DirectoryIndex index.php home

# REMOVES EXTENSION

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
